RewriteEngine On

# Index file
DirectoryIndex index.html

# Redirects
 RewriteRule ^index.php$ / [QSA,R]
 RewriteRule ^index.html$ / [QSA,R]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
