.AnswerItem {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: #b8b7b7;
  transition: background, color .2s ease-in-out;
  color: white;
}

.AnswerItem:hover > {

}

.AnswerItem.success{
  background: #86fb86;
}

.AnswerItem.error{
  background: #ff5050;
}
