.Layout{
  background-image: url("https://www.sarinform.ru/events/build/static/image/fonSarmed.jpg");
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.Layout main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
